html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

html {
	/* overflow-x: hidden; */
}

body,
html {
	width: 100%;
	min-height: 100%;
	line-height: 1.25;
	font-family: Verdana;
}

small {
	font-size: 0.4em;
	font-style: italic;
}

.page--loading,
.page--internal-error {
	position: absolute;
	top: 50%; left: 0; right: 0; transform: translateY(-50%);
	text-align: center;
	font-size: 25px;
}

.page--swarm {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	div#bit-holder {
		width: 1024px;
		position: relative;
		/* pourquoi ça centre ? */
	}

	div#canvas {
		width: 1024px;
		background: #EEE;
		margin: 0 auto;
		border: 1px dashed black;
		cursor: crosshair;
		position: fixed;
		top: 0; bottom: -1000px; /* allows for dragging bits below the bottom edge */

		.swarm-name {
			position: absolute;
			position: fixed;
			z-index: 0;
			color: #CFCFCF;
			font-size: 30px;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			pointer-events: none;
		}

	}


	&.no-internet .bit .bit__handle,
	&.no-internet .bit .bit__delete {
		display: none !important;
	}

	.bit {
		display: block;
		position: absolute;
		background: transparent;
		border: 0; outline: 0;
		max-width: 320px;
		width: auto !important; /* override draggable ui behaviour */
		font-size: 12px; line-height: 1.25;

		&.being-removed {
			transform: scale(0);
			opacity: 0;
		}

		&:not(.being-dragged) {
			transition: opacity 0.15s ease-out, transform 0.15s ease-out, top 0.3s, left 0.3s;
		}

		.bit__handle {
			display: none;
			position: absolute; left: -5px; top: 0px; right: 0; height: 10px;
			background: #B7B7B7;
			cursor: move;
		}

		.bit__delete {
			display: none;
			position: absolute; left: -5px; top: 0px; width: 10px; height: 10px;
			background: red;
			cursor: pointer;
		}

		&:hover .bit__delete,
		&:hover .bit__handle {
			display: block;
		}

		.bit__text {
			background: white;
			padding: 5px;
			margin-top: 5px;
			border-radius: 5px;
			cursor: text;
			border: 1px solid #C5C5C5;
			outline: 0;
			font-size: 12px;
			line-height: 1.2;
		}
		&.focus .bit__text, &.being-dragged .bit__text {
			box-shadow: 0px 0px 1px rgba(0,0,0,0.2)
		}

		.bit__bottom-margin {
			position: absolute; top: 100%; left: 0; right: 0;
			height: 40px;
			pointer-events: none;
		}

	}

	div#toast {
		position: fixed;
		font-size: 10px;
		line-height: 1.5;
		background: white;
		color: #999;
		text-align: right;
		bottom: 0;
		right: 0;
		padding: 3px 5px;
		border-top-left-radius: 5px;

		#no-internet {
			color: red;
		}

		a {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			color: inherit;
		}

		em {
			font-style: italic;
		}
	}

}
