html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

body {
	background: #bebebe;
}

@media (min-width: 1024px) {
	html {
		overflow-x: hidden;
	}
}

body,
html {
	width: 100%;
	min-height: 100%;
	line-height: 1.25;
	font-family: Verdana;
}

small {
	font-size: 0.4em;
	font-style: italic;
}

.page--loading,
.page--internal-error {
	position: absolute;
	top: 50%; left: 0; right: 0; transform: translateY(-50%);
	text-align: center;
	font-size: 25px;
}

.page--swarm {
	min-height: 100%;
	padding-top: 35px;

    /* Only center in big enough resolutions */
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	div#bit-holder {
		width: 1024px;
		position: relative;
	}

	div#canvas {
		width: 1024px;
		background: #eee;
		outline: 35px solid #EEE;
		margin: 0;

        /* Only center in big enough resolutions */
        @media (min-width: 1024px) {
            margin-left: auto;
            margin-right: auto;
        }

		cursor: crosshair;
		position: fixed;
		top: 35px; bottom: -1000px; /* allows for dragging bits below the bottom edge */

		.swarm-name {
			position: absolute;
			position: fixed;
			z-index: 0;
			color: #CFCFCF;
			font-size: 30px;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			pointer-events: none;
		}

		.swarm-name:empty:after {
			content: "—pad";
			font-style: italic;
		}

	}


	&.no-internet .bit .bit__handle,
	&.no-internet .bit .bit__delete {
		display: none !important;
	}

	.bit {
		display: block;
		position: absolute;
		background: transparent;
		border: 0; outline: 0;
		max-width: 320px;
		width: auto !important; /* override draggable ui behaviour */
		height: auto !important;
		font-size: 12px; line-height: 1.25;

		&.being-removed {
			transform: scale(0);
			opacity: 0;
		}

		&:not(.being-dragged) {
			transition: opacity 0.15s ease-out, transform 0.15s ease-out, top 0.3s, left 0.3s;
		}

		.bit__handle {
			display: none;
			position: absolute; left: 0px; top: -15px; right: 0; height: 15px;
			background: #d6d6d6;
			cursor: move;
			text-align: center;
			color: #ababab;
			overflow: hidden;
			border: 1px solid #d6d6d6;
			border-radius: 5px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 1px solid #ccc;
		}

		.bit__delete {
			display: none;
			position: absolute; right: 0; top: -15px; width: 10px; height: 15px; padding-right: 5px; padding-left: 3px;
			cursor: pointer;
			color: black;
			vertical-align: middle;
			line-height: 18px;
		}

		&:hover {
			.bit__delete,
			.bit__handle {
				display: block;
			}
			.bit__delete:hover {
				color: black;
			}
			.bit__text {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-top: 1px solid #fff;
			}
		}

		.bit__text {
			background: white;
			padding: 5px;
			border-radius: 5px;
			cursor: text;
			border: 1px solid #d6d6d6;
			outline: 0;
			font-size: 12px;
			line-height: 1.2;
            white-space: pre-wrap;
		}
		&.focus .bit__text, &.being-dragged .bit__text {
			box-shadow: 0px 0px 1px rgba(0,0,0,0.2)
		}

		.bit__bottom-margin {
			position: absolute; top: 100%; left: 0; right: 0;
			height: 200px;
			pointer-events: none;
		}

	}

	div#microwave {
		position: fixed;
		font-size: 9px;
		line-height: 1.5;
		color: black;
		bottom: 0;
		left: 0;
		padding: 3px 5px;
		border-top-left-radius: 5px;
	}

	div#oven {
		position: fixed;
		font-size: 9px;
		line-height: 1.5;
		color: black;
		bottom: 0;
		right: 0;
		padding: 3px 5px;
		border-top-left-radius: 5px;
		text-align: right;
	}

	div#toast {
		position: fixed;
		font-size: 9px;
		line-height: 1.5;
		color: black;
		text-align: right;
		bottom: 0;
		right: 0;
		padding: 3px 5px;
		border-top-left-radius: 5px;

		#no-internet {
			color: red;
		}

		a {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			color: inherit;
		}

		em {
			font-style: italic;
		}
	}

}
